/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



/* preloader */

#preloader {
    background: white url('../assets/gixl5w8qls2c4p4g3d9s.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 120vw;
    position: fixed;
    left: -10%;
    z-index: 100;
  }

  @media only screen and (max-width: 768px) {
    #preloader {
        background-size: 20%;
    }
}



/* main */

.backImg {
    height: 100%;
    width: 100%;
    background-image: url(../assets/backgroundimg.png);
    background-size: cover;
}

.logo img {
    height: 75px;
    width: auto;
    position: absolute;
    top: 2%;
    left: 2%;
}

@keyframes fadeIn {
    from {top: 0%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  @-webkit-keyframes fadeIn {
    from {top: 0%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    
  }
  
  h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px black;
  }
  
  .dot {
    color: #27d7ee;
  }
  
  p {
    text-align: center;
    margin-top: 6%;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 4px black;
  }

  .IG {
    position: absolute;
    left: 45%;
    top: 120%;
  }

  @media only screen and (max-width: 768px) {
    .backImg {
        height: 100%;
        width: 100%;
        background-image: url(../assets/backgroundimg.png);
        background-size: 300%;
        background-position: center;
        background-repeat: no-repeat;
    }
        h1 {
            font-size: 75px;
        }
        p {
            font-size: 20px;
            margin-top: 25%;
        }
        .IG {
            left: 37.5%;
        }
  }